.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header__left {
  display: flex;
  flex: 0.5;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 30px;
  color: grey;
}
